<div class="overlay-config">

  <img src="../assets/overlay_image.png" align="center" class="overlay-image">

</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="left" fxLayoutAlign.xs="left stretch">

  <div style="margin-left:60px;width:50%;">
  <mat-tab-group>

    <mat-tab>
      <ng-template mat-tab-label>Overview</ng-template>
      <div *ngIf='oppurtunityResponseData'>
      <app-overview [oppurtunityResponseData]="oppurtunityResponseData"></app-overview>
    </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>Prerequistes</ng-template>
      <div *ngIf='oppurtunityResponseData'>
        <app-prerequisites [oppurtunityResponseData]="oppurtunityResponseData"></app-prerequisites>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>Visa and Logistics</ng-template>
      <div *ngIf='oppurtunityResponseData'>
        <app-visa-and-logistics [oppurtunityResponseData]="oppurtunityResponseData"></app-visa-and-logistics>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>Testimonials</ng-template>

    </mat-tab>

  </mat-tab-group>
</div>

<div style="margin-left:750px;width:35%;position:absolute" *ngIf='oppurtunityResponseData'>
    <app-global-entrepreneur [oppurtunityResponseData]="oppurtunityResponseData"></app-global-entrepreneur>
</div>

</div>  <br><br>

<div style="margin-left:50px;">
<h1>
  Leadership development
</h1>
<p>Our mission is to enable youth to develop four leadership qualities through our experiences and impact the world for the better.</p>
</div>

<br><br>